body {
    margin: 0;
    line-height: 1.4285;
    background-color: #fff;
    color: #000;
    font-size: 13px;
    font-family: "Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
}

.container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container .panel {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
    border-radius: 4px; 
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
}

.critical {
    margin-top: 20px;
    border-color: #FEF0F1;
    border-left-width: 4px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FEF0F1;
    border-radius: 2px;
}

.container .allocatebody, .asooutput .asoform {
    border-color: #ddd;
    border-left-width: 4px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container .panel.data-container {
   border: 1px solid #c0d3eb;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;
  }
  
/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

table {
    width: 100%;
    padding-bottom: 20px;
}
  
th {
    height: 50px;
    text-align: left;
}

label {
    cursor: pointer;
}