.vscode/**
.vscode-test/**
out/**
out/**/*.map
src/**
webview-ui/**
!webview-ui/dist/assets
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
node_modules/**
!node_modules/vscode/**
!node_modules/bufferutil/**
!node_modules/cross-spawn/**
!node_modules/utf-8-validate/**