.propertyList {
    width: 100%;
}

.propertyList dt {
    float: left;
    clear: left;
    padding: 2px 4px;
    font-weight: bold;
    width: 10rem;
}

.propertyList dd {
    padding: 2px 0;
}

.inlineButtonContainer {
    display: flex;
    align-items: center;
}

.infoIndicator {
    color: var(--vscode-notificationsInfoIcon-foreground);
    height: 0;
    width: 0;
    box-sizing: border-box;
}

.tooltip {
    position: absolute;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--vscode-editorHoverWidget-background);
    color: var(--vscode-editorHoverWidget-foreground);
    border-color: var(--vscode-editorHoverWidget-border);
    border-width: 1px;
    border-style: solid;
    text-align: left;
    padding: 0.5rem;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    width: max-content;
    max-width: 55vw;
    left: 0.5rem;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

td,
th {
    padding: 5px 3px 5px 3px;
    text-align: center;
}

.buttonDiv {
    margin: 0.3125rem 0 0.625rem 7.875rem;
}

.separator {
    outline: solid thin;
}

.textLeftAlign {
    text-align: left;
}

.tableHeader {
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.375rem;
}

.refreshButton {
    position: relative;
    background: none;
    border: none;
    color: var(--vscode-editor-foreground, #fff);
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-left: -0.1rem;
    transition: all 0.1s ease;
    border-radius: 10rem;
    top: -0.02rem;
}

.refreshButton:hover {
    background: var(--editor-selectionHighlightBackground, rgba(58, 58, 58, 0.4));
    cursor: pointer;
}

.refreshButton i {
    position: relative;
    top: 6%;
    transform: scale(1.3);
}
