html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
td, th {
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}
button, select {
	text-transform: none;
}
body {
	margin: 0;
	line-height: 1.4285;
	background-color: #fff;
}
body {
	color: #000;
	font-size: 13px;
}
body {
	font-family: "Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.h2, h2 {
	font-size: 30px;
}
h1, h2, h3, h4, h5 {
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
}
h2 {
	font-family: az_ea_font,"Segoe UI",wf_segoe-ui_semibold,"Segoe UI Semibold","Segoe WP Semibold","Segoe WP",Tahoma,Arial,sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	display: inline-block;
	max-width: 100%;
	color: #252525;
}
[_ngcontent-app-id-c15].list-wrapper {
	position: relative;
	margin-left: 30px;
}
[_ngcontent-app-id-c15].red-line {
	background: #dbe2eb;
	width: 3px;
	height: 100%;
	position: absolute;
	left: 15px;
	z-index: 0;
}
[_ngcontent-app-id-c15].white-line {
	background: #fff;
	top: 0px;
	width: 6px;
	height: 100%;
	position: absolute;
	left: 15px;
	border: 0;
	z-index: 0;
}
[_ngcontent-app-id-c15].red-line.remove-padding, [_ngcontent-app-id-c15].white-line.remove-padding {
	left: 0px;
}
[_ngcontent-app-id-c15].list-item-wrapper {
	margin-top: 10px;
	position: relative;
}
.stepper-circle {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 26px;
	height: 26px;
	background-color: #9bbaff;
	border-radius: 50%;
	margin: -15px 0 0 -15px;
	text-align: center;
	font-size: 16px;
	padding: 1px;
}
.stepper-circle-green {
	background-color: #87d286;
}
[_ngcontent-app-id-c15].stepper-circle {
	position: relative;
	float: left;
	margin-right: 20px;
	margin-top: 0px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 100px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	background-color: #9bbaff;
}
[_ngcontent-app-id-c15].stepper-circle-green {
	background-color: #7fba00;
	z-index: 1;
}
[_ngcontent-app-id-c15].list-item {
	vertical-align: middle;
	margin-left: 50px;
}
[_ngcontent-app-id-c15].list-title {
	font-weight: 700;
}
[_ngcontent-app-id-c15].list-text {
	margin-top: 10px;
	margin-bottom: 20px;
	-webkit-transition: .2s;
	transition: all .2s;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
	background-color: transparent;
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
[_ngcontent-app-id-c15].detector-list {
	background: #f9f9f9;
	border: 1px solid #ebebeb;
	width: 98%;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
table td[class*=col-], table th[class*=col-] {
	position: static;
	display: table-cell;
	float: none;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 8px;
	line-height: 1.4285;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
a {
	background-color: transparent;
	text-decoration: none;
}
.link, a {
	cursor: pointer;
	color: #015cda;
}
[role=button] {
	cursor: pointer;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
th {
	text-align: left;
}
.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
	border-top: 0;
}
.table-responsive {
	min-height: 0.01%;
	overflow-x: auto;
}
p {
	margin: 0 0 10px;
}
button {
	overflow: visible;
}
button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}