.title {
    font-weight: bold;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    padding: 0% 10% 0% 0.5%;
    gap: 1rem;
    margin-top: 1.3rem;
}

.gridItem {
    padding: 0.9rem 1.2rem 1.2rem 1.2rem;
    border-radius: 0.3125rem;
    text-align: left;
    color: var(--vscode-editor-foreground, #fff);
    background-color: rgba(54, 52, 52, 0.3);
    border-radius: 0.25rem;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.modelName {
    margin: 0 0 0 0;
    font-weight: 700;
    font-size: 0.9rem;
}

.blurb {
    font-size: 0.7rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
    opacity: 0.75;
}

.buttonDiv {
    margin: 0 0 0.3rem 0;
}

.statusTable {
    font-size: 0.7rem;
    display: table;
    width: 100%;
    margin-top: 0.4375rem;
    border-spacing: 0 0.25rem;
}

.statusRow {
    display: table-row;
    margin-bottom: 1rem;
}

.statusLabel,
.statusValue {
    display: table-cell;
    padding: 0 0 0 0;
    vertical-align: top;
    text-align: left;
}

.statusLabel {
    font-weight: 500;
    padding-right: 1rem;
    width: 30%;
    min-width: 6rem;
}

.statusValue {
    color: var(--vscode-editor-foreground, #fff);
    opacity: 0.75;
    width: auto;
}

.gray {
    opacity: 0.75;
}

.button {
    color: var(--button-foreground, #fff);
    border-radius: 0.125rem;
    background-color: rgba(128, 128, 128, 0.1);
    border: none;
    border-radius: 0.3125rem;
    outline: none;
    margin-top: 0.25rem;
    font-size: 0.625rem;
    font-weight: 400;
    transition: all 0.1s ease;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    font-family: var(--vscode-font-family);
    border-radius: 0.17rem;
    margin-bottom: 0.4rem;
}

.button:hover {
    cursor: pointer;
    background: var(
        --vscode-selection-background,
        var(--vscode-list-activeSelectionBackground, var(--vscode-button-background, #0078d4))
    );
}

.bold {
    color: var(--vscode-editor-foreground, #fff);
    font-weight: 700;
}
.progressDiv {
    margin-bottom: 0.7rem;
    margin-top: 0.2rem;
    font-size: 0.7rem;
}
.progress {
    width: 0.7rem;
    height: 0.7rem;
    display: inline-block;
    position: relative;
    top: 0.125rem;
    margin-right: 0.5rem;
}

.successIconContainer {
    display: inline-block;
    height: 100%;
}
.successIcon {
    color: #89d185;
    font-size: 0.8rem !important;
    margin-right: 0.3rem;
    position: relative;
    top: 0.15rem;
}

.errorIcon {
    color: #f14c4c;
    font-size: 0.8rem !important;
    margin-right: 0.3rem;
    position: relative;
    top: 0.15rem;
}

.successMessage {
    color: var(--vscode-editor-foreground, #fff);
    font-weight: 600;
    line-height: 0rem;
}

.successContainer {
    position: relative;
}

.testButton {
    margin-left: 0.58rem;
}

.logButton {
    margin-left: 0.58rem;
}

.redeployButton {
    margin-right: 0.58rem;
}
