.inputContainer {
    display: grid;
    grid-template-columns: 12rem auto;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.inputContainer p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.inputContainer .label {
    grid-column: 1 / 2;
    margin: 0.2rem 0;
}

.inputContainer .control {
    grid-column: 2 / 3;
    margin: 0.2rem 0;
    width: 25rem;
}

.inputContainer .controlSupplement {
    grid-column: 2 / 3;
    margin-top: -0.7rem; /* grid row gap + control border */
    margin-bottom: 0.2rem;
}

.inputContainer .fullWidth {
    grid-column: 1 / 3;
}

.actionItemList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.2rem;
}

.permissionRow {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.permissionIconSuccess {
    color: var(--vscode-charts-green);
}

.permissionIconError {
    color: var(--vscode-charts-red);
}

.permissionIconUnknown {
    color: var(--vscode-descriptionForeground);
}

.permissionAttachButton {
    margin-left: 1rem;
}

.permissionRefreshContainer {
    margin-top: 1rem;
}

.permissionRefreshIcon {
    margin-right: 0.5rem;
}

.permissionErrorText {
    color: var(--vscode-charts-red);
    margin-top: 0.5rem;
}

.actionBar {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
