.inputContainer {
    display: grid;
    grid-template-columns: 8rem 20rem 8rem;
    grid-gap: 1rem;
}

.presetContainer {
    width: 217px;
    height: 166px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--base-base-10, #808080); 
}

.presetTitle {
    width: 161px;
    color: var(--base-base-01, #FFF);

/* az-text-/header 2 */
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 137.5% */   
}

.presetDescription {
    width: 161px;
    color: var(--base-base-01, #FFF);

/* az-text-/body */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 138.462% */
}

.devTestIcon {
    background-image: url('../../resources/createCluster/devTest.svg');
    background-repeat: no-repeat;
    height: 17px; /* adjust as needed */
    width: 17.465px; /* adjust as needed */
}

.infoIndicator {
    color: var(--vscode-notificationsInfoIcon-foreground);
    padding-right: 0.5rem;
}

.label {
    grid-column: 1 / 2;
}

.midControl {
    grid-column: 2 / 3;
}

.longControl {
    grid-column: 2 / 4;
}

.sideControl {
    grid-column: 3 / 4;
}

.validationMessage {
    grid-column: 2 / 4;
    margin-top: -1rem;
}

.fullWidth {
    grid-column: 1 / 4
}

.errorIndicator {
    color: var(--vscode-testing-iconFailed);
    padding-right: 5px;
}

.buttonContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}