.inputContainer {
    display: grid;
    grid-template-columns: 8rem 20rem 8rem;
    grid-gap: 1rem;
    margin-top: 18px;
}
.presetHeader {
    width: 250px;
    height: 18px;
    margin-bottom: 10px;
}

.presetContainer {
    width: 217px;
    height: 166px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--base-base-10, #808080);
    margin-bottom: 23px;
}

.presetTitle {
    width: 161px;
    color: var(--base-base-01, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.presetDescription {
    width: 161px;
    color: var(--base-base-01, #fff);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 40px;
    margin-top: 12px;
}

.flexContainer {
    display: flex;
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
}

.svgContainer {
    margin-right: 6px;
}

.learnMoreContainer {
    margin-top: 20px;
}

.portalLink {
    width: 967px;
    height: 31px;
    color: var(--base-base-03, #e7e7e7);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.infoIndicator {
    color: var(--vscode-notificationsInfoIcon-foreground);
    padding-right: 0.5rem;
}

.clusterDetailsLabel {
    color: var(--base-base-01, #fff);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    grid-column: 1 / 2;
}

.label {
    grid-column: 1 / 2;
}

.midControl {
    grid-column: 2 / 3;
}

.longControl {
    grid-column: 2 / 4;
    width: 322px;
}

.sideControl {
    grid-column: 3 / 4;
}

.validationMessage {
    grid-column: 2 / 4;
    margin-top: -1rem;
}

.fullWidth {
    grid-column: 1 / 4;
}

.errorIndicator {
    color: var(--vscode-testing-iconFailed);
    padding-right: 5px;
}

.buttonContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}
