.content {
    display: grid;
    grid-template-columns: 6rem 50rem;
    grid-gap: 1rem;
    align-items: center;
}

.filterContent {
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 8rem 47rem;
    grid-gap: 1rem;
    align-items: center;
}

.content > .label,
.filterContent > .label {
    grid-column: 1 / 2;
}

.content > .control,
.filterContent > .control {
    grid-column: 2 / 3;
}

.content > .numberControl,
.filterContent > .numberControl {
    grid-column: 2 / 3;
    max-width: 4rem;
}

.content > .controlDropdown {
    grid-column: 2 / 3;
    max-width: 30rem;
}

.filterContent > .controlDropdown {
    grid-column: 2 / 3;
    max-width: 27rem;
}

.content > .controlButton,
.filterContent > .controlButton {
    grid-column: 2 / 3;
    max-width: 8rem;
}

.content > .fullWidth,
.filterContent > .fullWidth {
    grid-column: 1 / 3;
}

table.capturelist {
    border-collapse: collapse;
    width: 100%;
}

table.capturelist th {
    height: 50px;
    text-align: left;
}

table.capturelist td {
    padding: 5px;
}
