.kaitoPageHeader {
    color: var(--Base-Base-01, #fff);
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subHeader {
    width: 41rem;
    margin-top: 0.5rem;
    color: var(--Dark-Base-03, #ccc);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subHeaderForVersion {
    margin-top: 0.9375rem; /* 15px */
    color: var(--Dark-Base-01, #fff);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.architecture {
    margin-top: 1.56rem;
    color: var(--Dark-Base-01, #fff);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0.625rem;
}

.architectureSubHeader {
    width: 40.6rem;
    color: var(--Dark-Base-03, #ccc);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.kaitoImage {
    margin-bottom: 1.56rem;
    border-radius: 0.5625rem;
    background: #fff;
    width: 41rem;
    height: 19rem;
}

.lastContent {
    color: var(--Dark-Base-03, #ccc);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.installingMessage {
    color: var(--Dark-Base-01, #fff);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
