.subHeader {
    width: 100vw;
    max-width: 41rem;
    margin-top: 0.5rem;
    color: var(--vscode-editor-foreground, #fff);
    opacity: 0.95;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
}

.subHeaderForVersion {
    margin-top: 0.4rem;
    color: var(--vscode-editor-foreground, #fff);
}

.architecture {
    margin-top: 1.4rem;
    margin-bottom: 0.4rem;
    color: var(--vscode-editor-foreground, #fff);
}

.architectureSubHeader {
    width: 100vw;
    max-width: 41rem;
    color: var(--vscode-editor-foreground, #fff);
    opacity: 0.95;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.6rem;
}

.kaitoImage {
    margin-bottom: 0.6rem;
    border-radius: 0.5625rem;
    background: #fff;
    width: 100vw;
    max-width: 41rem;
    height: 19rem;
}

.lastContent {
    color: var(--vscode-editor-foreground, #fff);
    opacity: 0.95;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.6rem;
}
.lastContent ul {
    padding: 0 0 0 0;
    list-style-position: inside;
    margin: 0 0 0 0;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 1rem;
}
.installingMessage {
    color: var(--vscode-editor-foreground, #fff);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0.625rem;
}

.spacer {
    margin-top: 500px;
    height: 500px;
    width: 100px;
}

.generateButton {
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
}

.postInstall {
    font-weight: 700;
}
.thin {
    font-weight: 400;
}
.button {
    color: var(--button-foreground, #fff);
    border-radius: 0.125rem;
    background: var(--vscode-button-background, #0078d4);
    border: none;
    border-radius: 0.3125rem;
    outline: none;
    font-size: 0.7rem;
    font-weight: 400;
    transition: all 0.1s ease;
    padding: 0.37rem 0.45rem 0.37rem 0.5rem;
    font-family: var(--vscode-font-family);
    border-radius: 0.17rem;
    margin-bottom: 0.4rem;
}

.button:hover {
    cursor: pointer;
    background: var(
        --vscode-selection-background,
        var(--vscode-list-activeSelectionBackground, var(--vscode-button-background, #0078d4))
    );
}

.button:disabled {
    color: var(--vscode-button-foreground-disabled, #aaa);
    background: var(--vscode-button-background-disabled, #333);
    cursor: not-allowed;
    opacity: 0.6;
}

.installBlurb {
    margin: 0.5rem 0rem 0.06rem 0rem;
}
