.labelTextButton {
    display: grid;
    grid-template-columns: 4rem 20rem 4rem;
    grid-gap: 0.5rem;
    align-items: center;
}

pre.explanation {
    color: var(--vscode-editor-foreground);
    white-space: pre-wrap;
}
