.buttonContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.secondaryButton {
    background: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
}

.warningContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
