.indicator {
    cursor: pointer;
    margin-right: -2px;
}

.listbox {
    position: absolute;
    width: 100%;
    margin: 0;
    background: var(--vscode-dropdown-background);
    border: 1px solid var(--vscode-focusBorder);
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    left: 0px;
    max-height: 200px;
    padding: 0px;
    overflow-y: auto;
    z-index: 1;
}

.listbox.hidden {
    display: none;
}

.listboxItem {
    flex-shrink: 0;
    cursor: pointer;
    padding: 2px;
}

.listboxItem:hover {
    background: var(--vscode-list-activeSelectionBackground);
}

.listboxItem.selected {
    background: var(--vscode-list-activeSelectionBackground);
}

.inputField {
    position: relative;
    width: 100%;
}

.selectedValue {
    width: 100%;
    padding-right: 1.8rem !important;
    box-sizing: border-box;
}
.selectedValue:hover {
    cursor: pointer;
}

.dropDownButton {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
