name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    permissions:
      actions: read
      contents: read
      deployments: read
      packages: none
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        disable-sudo: true
        disable-telemetry: true
        egress-policy: block
        allowed-endpoints: >
          devdiv.pkgs.visualstudio.com:443
          github.com:443
          marketplace.visualstudio.com:443
          objects.githubusercontent.com:443
          registry.npmjs.org:443
          update.code.visualstudio.com:443
          vscode.download.prss.microsoft.com:443

    - name: Checkout Branch
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Setup Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 20
    - name: Build Extension
      run: |
        npm run install:all
    - name: Smoke test (Linux)
      run: xvfb-run -a npm run test
      if: runner.os == 'Linux'
    - name: Smoke test (Mac, Windows)
      run: npm run test
      if: runner.os != 'Linux'
    - name: Package Extension
      if: matrix.os == 'ubuntu-latest'
      run: |
        npm run package
        mkdir vsix
        mv *.vsix vsix
    - name: Archive Extension
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: vsix
        path: vsix
