name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    permissions:
      actions: read
      contents: read
      deployments: read
      packages: none
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        disable-sudo: true
        disable-telemetry: true
        egress-policy: block
        allowed-endpoints: >
          devdiv.pkgs.visualstudio.com:443
          github.com:443
          marketplace.visualstudio.com:443
          objects.githubusercontent.com:443
          registry.npmjs.org:443
          update.code.visualstudio.com:443
          vscode.download.prss.microsoft.com:443

    - name: Checkout Branch
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 20
    - name: Build Extension
      run: |
        npm run install:all
    - name: Smoke test (Linux)
      run: xvfb-run -a npm run test
      if: runner.os == 'Linux'
    - name: Smoke test (Mac, Windows)
      run: npm run test
      if: runner.os != 'Linux'
    - name: Package Extension
      if: matrix.os == 'ubuntu-latest'
      run: |
        npm run package
        mkdir vsix
        mv *.vsix vsix
    - name: Archive Extension
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: vsix
        path: vsix
