name: poc
on: [workflow_dispatch]

jobs:
  run:
    runs-on:
      labels: [self-hosted, "1ES.Pool=1es-vscode-aks-tools-pool"]
    permissions:
      contents: read
      id-token: write

    steps:

      - name: federation login
        uses: azure/login@v2
        with:
          auth-type: IDENTITY
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Make az rest API call to VSSPS Profile API
        run: |
            az rest -u https://app.vssps.visualstudio.com/_apis/profile/profiles/me --resource ${{ secrets.MAGIC_NUMBER }}
